
<ion-navbar *navbar hideBackButton>
	<ion-buttons start>
	  <button (touchend) = "back()" style="color:#44c5c8; padding-right: 1em; opacity: 0.7;">
	    <img src="build/img/backCar-54.png" alt="" style="width: 60%">
	  </button>
	</ion-buttons>
	<ion-title style="background:url(build/img/NavBarBg-53.jpg)">
	     <img src="build/img/zentalLogo-04.png" alt="loading.." style="width: 40%">
	</ion-title>
	<!-- <ion-label (touchend)="onDiscard()" end>Discard</ion-label> -->
	<ion-buttons end>
	  <button (touchend)="onDiscard()" style="color: #42bfc3">
	    Discard
	  </button>
	</ion-buttons>
</ion-navbar>
<ion-content  style="background:url(build/img/subbg-52.jpg); background-size: cover;">
	<div class="tabs">
		<ion-card class="card"  (touchend)= "activeSearch()" [class.bg]="search">
		  <ion-card-header [class.bg]="search">
		    <p style="color:white">Search</p>
		  </ion-card-header>
		</ion-card>
		<ion-card class="card" (touchend)= "activeRecent()" [class.bg]="recent">
		  <ion-card-header [class.bg]="recent">
		    <p style="color:white">Recent</p>
		  </ion-card-header>
		</ion-card>
		<ion-card class="card" (touchend)= "activeNearMe()" [class.bg]="nearMe">
		  <ion-card-header [class.bg]="nearMe">
		    <p style="color:white">Near Me</p>
		  </ion-card-header>
		</ion-card>
	</div>

	<div *ngIf="search" class="tab-search">
		<ion-searchbar class="search">
		</ion-searchbar>
	</div>
	<div *ngIf="recent"  class="tab-recent">
		<ion-card *ngFor = "#recentResult of recentResults" class="recent-card">
			<div class="card-info">
				 <ion-card-header class="name">
				    {{recentResult.name}}
				 </ion-card-header>
				 <ion-card-content >
					{{recentResult.address}}
					{{recentResult.tel}}
				 </ion-card-content>
			</div>
			<button (touchend)="getLocation(recentResult.name)" >select</button>
		</ion-card>
	</div>
	<div *ngIf="nearMe" class="tab-recent">
		<button class="location-list" (touchend)="onNearMeToMap()" [class.nearMeToMap]="nearMeToMap">Location List</button>
		<div *ngIf = "showList">
			<ion-card *ngFor = "#nearMeResult of nearMeResults" class="recent-card">
				<div class="card-info">
					 <ion-card-header class="name">
					    {{nearMeResult.name}}
					 </ion-card-header>
					 <ion-card-content >
						{{nearMeResult.address}}
						{{nearMeResult.tel}}
					 </ion-card-content>
				</div>
				<button (touchend)="getLocation(nearMeResult.name)">select</button>
			</ion-card>
		</div>
		<div *ngIf = "!showList">
			<ion-card class="map-address">
				{{nearMeAddress}}
			</ion-card>
			<div class="map2" >
				 <img src="build/img/loading.gif" style="display: block; margin:40% auto; width: 50%">
			</div>
		</div>

	</div>

</ion-content>